parameters:
    level: 9
    paths:
        - benchmarks/router.php
        - bin/api-compat
        - bin/api-reference
        - src
        - tests
    tmpDir: .build/phpstan
    treatPhpDocTypesAsCertain: true
